[data-vista] {
    position: relative;
    min-height: 100vh;
    display: none;
}

[data-vista="cursando"] {
    display: block;
}

@media (max-width: 768px) {
    .body {
        padding-top: 60px;
    }
    
}